---
search: false
---

@charset "utf-8";

// @font-face {
//     font-family: 'Linux Libertine'; /* normal */
//     src: url('/assets/fonts/LinLibertine_R.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: 400;
    src: local('Linux Libertine'), url('https://fonts.cdnfonts.com/s/282/LinLibertine_Re-4.1_.8_.woff') format('woff');
}

$linux-font: 'Linux-Libertine', sans-serif;
$global-font-family: $linux-font;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials