---
search: false
---

@charset "utf-8";

// @font-face {
//     font-family: 'Linux Libertine'; /* normal */
//     src: url('/assets/fonts/LinLibertine_R.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

//$link-color: red;

@font-face {
    font-family: 'Linux Libertine';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/282/LinLibertine_Re-4.1_.8_.woff') format('woff');
}

$sans-serif: 'Linux Libertine', serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


